@import 'bootstrap/dist/css/bootstrap.css';
@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
  padding: 0;
  margin: 0;
  background: rgb(26,131,255);
  background: linear-gradient(90deg, rgba(26,131,255,1) 52%, rgba(0,176,255,1) 88%);
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "sahel";
  src: url("../public/fonts/Sahel.woff")format("woff");
}

.sahel {
  font-family: "sahel", sans-serif;
}

.bar-of-progress {
  z-index: 100;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: #188FFE;
}

::-webkit-scrollbar-thumb:hover {
  background: #0081fa;
}

.rtl {
  direction: rtl;
}